$primary: red;

$fs: (
  "font-size": (
    property: font-size,
    class: fs,
    values: (
      a: 20px,
    ),
  ),
);

$utilities: () !default;
$utilities: map-merge(
  $fs,
  $utilities
);

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25), 2: ($spacer * .5),   3: ($spacer * 1),   4: ($spacer * 1.5),
  5: ($spacer * 2),   6: ($spacer * 2.5),  7: ($spacer * 3),   8: ($spacer * 3.5),
  9: ($spacer * 4),   10: ($spacer * 4.5), 11: ($spacer * 5),  12: ($spacer * 6),
  13: ($spacer * 8),  14: ($spacer * 10),  15: ($spacer * 12), 16: ($spacer * 16)
), $spacers);


@import "bootstrap/scss/bootstrap.scss";
